@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Prompt:wght@500;700;900&display=swap");

:root {
  --font-family-base: "Noto Sans", sans-serif;
  --text-sm: 0.5rem;
  --text-md: 1rem;
  --text-lg: 1.35rem;
  --text-xl: 1.75rem;
}
